<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.takeanotes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authuser.Register" />
        <activity android:name=".Authuser.Login" />
        <activity
            android:name=".note.EditNote"
            android:theme="@style/AppTheme.NoActionBar" /><!--//changed-->
        <activity
            android:name=".note.AddNotes"
            android:label="@string/title_activity_add_notes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.org.takeanotes.MainActivity"/>
        </activity>
        <!--<activity android:name="com.org.takeanotes.note.NoteDetail" />
        <activity
            android:name=".NoteDetails"
            android:label="@string/title_activity_note_details"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".note.NoteDetail"
            android:label="@string/title_activity_note_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>